.input label{
    display: flexbox;
    /* border: 1px solid; */
    
}


.input input{
    max-width: 40px;
    
}
.lat{
    /* border: 10px solid; */
    max-width: fit-content;
}
.input{
    /* border: 10px solid; */
    display: flex;
    
}